.container{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
}

.navbar{
    display: flex;
    padding-left: 80px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.navbar__phone .buguer-icon{
    visibility: hidden;
}

.navbar__list__items{
    visibility: visible;
}


.navbar__content img{
    width: 40px;
    height: 40px;
}



/* Navbar Mobile */

.navbar-mobile{
    display: none;
}


/* Main */
.main-content{
    
    padding-left: 80px;
    grid-column: 1/2;
    grid-row: 2/3;

}

.main-content p:first-child {
    font-size: 36px;
    margin: 0 0 -14px 44px;
}

.main-content h1{
    font-size: 48px;
    margin: 0 0 15px 0;
}

.main-content p:last-child {
    font-size: 18px;
}




/* Side */

.side-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/4;
}

.side-content p{
    font-size: 36px;
}


.side-content img{
    width: 100%;
}

.side-content div{
    grid-column: 4/7;
    grid-row: 1/2;
}


/* footer */

.footer{
    grid-column: 1/2;
    grid-row: 3/4;
}


.footer div{  
    width: 120px;

}

.footer div img {
    width: 140px;
    position: absolute;
    bottom: 30px;
}


/* Modal */

.modal__content{
    width: 60%;
    height: 65%;
}

.modal__content--slider{
    width: 350px;
    height: 250px;
}